<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" chrome=1>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ronald Cardenas: personal website">
    <meta name="author" content="">

    <title>Ronald Cardenas</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63489817-1', 'auto');
      ga('send', 'pageview');

    </script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>Ronald A. Cardenas</a>
                </li>
                <li style="text-align:center">
                    <div class="circular"></div>
                </li>
                <li>
                    <a href="{{ site.url }}#about">About</a>
                </li>
                <li>
                    <a href="{{ site.url }}#research">Research Interests</a>
                </li>
                <li>
                    <a href="{{ site.url }}#news">News &amp; Activity</a>
                </li>
                <li>
                    <a href="{{ site.url }}#publications">Publications</a>
                </li>
                <!--
                <li>
                    <a href="{{ site.url }}/software">Code</a>
                </li>
                -->
                <li>
                    <a href="#contact">Contact info</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        {{ content }}

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
