<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" chrome=1>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ronald Cardenas: personal website">
    <meta name="author" content="">

    <title>Ronald A. Cardenas</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="/css/extra_style.css" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63489817-1', 'auto');
      ga('send', 'pageview');

    </script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div id="profile" class="clearfix">
                <div class="portrate hidden-xs" title="Profile pic"></div>
                <div class="title">
                    <h2>Ronald A. Cardenas</h2>
                    <h3>Ph.D. Student at CDT in NLP</h3>
                    <h3>University of Edinburgh</h3>
                </div>
            </div>
            <ul id="navigation">
            <li>
                <a href="/">
                    <i class="fa fa-user"></i>
                    <div class="text">About me</div>
                </a>
            </li>
            <li>
                <a href="/#experience">
                    <i class="fa fa-graduation-cap"></i>
                    <div class="text">Education &amp; Experience</div>
                </a>
            </li>
            <li>
               <a href="/research">
                    <i class="fa fa-book"></i>
                    <div class="text">Research</div>
                </a>
            </li>
            <li>
               <a href="/research#publications">
                    <i class="fa fa-edit"></i>
                    <div class="text">Publications</div>
               </a>
            </li>
            <!--
            <li>
                <a href="/code">
                    <i class="fa fa-code"></i>
                    <div class="text">Code</div>
               </a>
            </li>
            -->
            <li>
                <a href="/contact">
                    <i class="fa fa-calendar"></i>
                    <div class="text">Contact me</div>
               </a>
            </li>
            <!--
            <hr>
            <li>
                <a href="http://giscia.github.io" target="_blank">GISCIA Research Lab</a>
            </li>
            <li>
                <a href="http://igi.uni.edu.pe/portal/en/" target="_blank">UNI Research Institute</a>
            </li>
            -->

        </ul>
            <div class="social-icons">
                <ul>
                    <li><a href="https://github.com/ronaldahmed"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://pe.linkedin.com/pub/ronald-cardenas-acosta/80/905/77b"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/ronaldca2"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <p><a href="https://www.ed.ac.uk/about/website/accessibility/accessibility-policy">Accesibility Statement</a> </p>
        </div>
        <!-- /#sidebar-wrapper -->

        {{ content }}

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
